<!--
--------
WARNING:
--------

THIS CODE IS ONLY MADE AVAILABLE FOR DEMONSTRATION PURPOSES AND IS NOT SECURE! DO NOT USE IN PRODUCTION!

FOR SECURITY REASONS, USING A JAVASCRIPT WEB APP HOSTED VIA THE CORDA NODE IS NOT THE RECOMMENDED WAY TO INTERFACE
WITH CORDA NODES! HOWEVER, FOR THIS PRE-ALPHA RELEASE IT'S A USEFUL WAY TO EXPERIMENT WITH THE PLATFORM AS IT ALLOWS
YOU TO QUICKLY BUILD A UI FOR DEMONSTRATION PURPOSES.

GOING FORWARD WE RECOMMEND IMPLEMENTING A STANDALONE WEB SERVER THAT AUTHORISES VIA THE NODE'S RPC INTERFACE. IN THE
COMING WEEKS WE'LL WRITE A TUTORIAL ON HOW BEST TO DO THIS.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-module.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="DemoAppController as demoApp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
        </div>
        <button ng-click="demoApp.openModal()" type="button" class="btn btn-primary navbar-btn">Create token order</button>
        <button ng-click="demoApp.getPOs()" type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-refresh"></span></button>
    </div>
</nav>
<script type="text/ng-template" id="demoAppModal.html">
    <div class="modal-header">
        <h4 class="modal-title">Add new token order</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="counterparty" class="control-label">Counter-party:</label>
                <select ng-model="modalInstance.form.counterparty" class="form-control" id="counterparty" ng-options="peer as peer for peer in modalInstance.peers">
                </select>
            </div>
            <div class="form-group">
                <label for="tokenOrderId" class="control-label">Token Order Number (Int):</label>
                <input type="text" ng-model="modalInstance.form.tokenOrderId" class="form-control" id="tokenOrderId">
            </div>
            <div class="form-group">
                <label for="completeDate" class="control-label">Task Completion Date (Format: YYYY-MM-DD):</label>
                <input type="text" ng-model="modalInstance.form.completeDate" class="form-control" id="completeDate">
            </div>
            <div class="form-group">
                <label for="courseName" class="control-label">Course Name:</label>
                <input type="text" ng-model="modalInstance.form.courseName" class="form-control" id="courseName">
            </div>
            <div class="form-group">
                <label for="tokenAmount" class="control-label">Amount:</label>
                <input type="text" ng-model="modalInstance.form.tokenAmount" class="form-control" id="tokenAmount">
            </div>
            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Enter valid token order parameters
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Close</button>
            <button ng-click="modalInstance.create()" type="button" class="btn btn-primary">Create token order</button>
        </div>
    </form>
    </div>
</script>
<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message }}
    </div>
</script>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div ng-show="!demoApp.pos.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">There are no recorded token orders</h3>
            </div>
            <div class="panel-body">Use the "Create token order" button to establish a token order with a peer.</div>
        </div>
        <div ng-show="demoApp.pos.length" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recorded purchase orders:</h3>
            </div>
        </div>
        <div ng-repeat="to in demoApp.pos" class="panel panel-default">
            <div class="panel-body">
                <ul>
                    <li>Token Order ID: {{to.purchaseOrder.orderNumber}}</li>
                    <li>Contract Hash: {{to.contract.legalContractReference}}</li>
                    <li>Employee: {{to.employee}}</li>
                    <li>Issuer: {{to.issuer}}</li>
                    <li>Task Name: {{to.tokenOrder.taskItem.courseName}}</li>
                    <li>Task Completion Date: {{to.tokenOrder.taskItem.completeDate}}</li>
                    <li>Amount: {{to.tokenOrder.taskItem.amount}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>
</html>
